@import url("../public/vendor/normalize.css");
@import url("../public/vendor/fonts.css");
@import url("./components/birthday.css");

* { box-sizing: border-box; }
html { scroll-behavior: smooth; }
body { margin: 0; }
button, a { font: inherit; }
